.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.45rem 2.5rem;
    position: fixed; /* Hace la navbar fija arriba */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: transparent;
    transition: all 0.3s ease;
}

.nav__brand a {
  color: var(--accent);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav__links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav__item a {
  color: var(--text);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav__item a:hover {
  color: var(--accent);
}

.in-cart {
  background: var(--accent);
  color: var(--bg);
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}